<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840529050371-tj6l953cmm1cqvd9ak53eie71qn8r2i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840529050371-tj6l953cmm1cqvd9ak53eie71qn8r2i5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840529050371-2t4t19negsugnto158og4t51p4bjmc62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0yQo-D9UPQiyU19sGubOE6s0AvJpDN5I</string>
	<key>GCM_SENDER_ID</key>
	<string>840529050371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snoreclinics.ai</string>
	<key>PROJECT_ID</key>
	<string>snoreclinics-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>snoreclinics-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840529050371:ios:b9265959d446e913b84736</string>
</dict>
</plist>
